* {
  padding: 0;
  margin: 0;
}

#grid {
  float: left;
  width: 100%;
}

#grid > div {
  color: green;
  float: left;
  background-color: #eee;
  margin-bottom: 0.5%;
  height: 150px;
  width: 24.625%;
  margin-right: 0.5%;
}

#grid > div:nth-child(4n) {
  margin-right: 0;
}
