* {
  padding: 0;
  margin: 0;
}

#grid {
  float: left;
  width: 100%;
}

#grid > div {
  color: green;
  float: left;
  background-color: #eee;
  margin-bottom: 0.5%;
  height: 150px;
  width: 24.625%;
  margin-right: 0.5%;
}

#grid > div:nth-child(4n) {
  margin-right: 0;
}

a {
  color: green;
}

a:hover {
  color: #004d00;
}

a:active {
  color: blue;
}

.header a {
  color: green;
  background: #ccc;
}

.header a:hover {
  color: #004d00;
}

.header a:active {
  color: blue;
}
