@import "_variables"
@import "_reset"
@import "_mixin"

// Comment

#grid
	float: left
	width: 100%
	> div
		color: green
		@include grid(4, 0.5%)

@include link($linkLink: green, $linkVisited: brue)

.header
	@include link($linkLink: green, $linkVisited: brue)
		background: #ccc
